body {
	padding-bottom: 125;
	padding-top: 75;
	padding-left: 100;
	padding-right: 100;
	background-color: #0a0a0a;
	color: #1375cb;
    background-image: url("agua-clara.jpg");
    background-size: cover;
}

.fc th, .fc td {
	border-width: 0.1em;
	border-color:#0629ed68 ;
	
}



.calendar{
	border: solid 0.2em #0c09da35;
}






/* Marco animado */
.block {
	padding: 2%;
	position: relative;

	width: 100%;
	height: 100%;
	background: #fffbee;
}

.block:before,
.block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	border: #0c09da35;
	background: linear-gradient(270deg, #0941da, #04a4f4);
	width: 100%;
	height: 100%;
	transform: scale(1.07);
	z-index: -1;
	background-size: 300%;
	animation: steam 7s ease infinite;
}
/*flechas*/
.fc-button .fc-icon {
	margin: 0 .1em;
	font-size: 2em;
	color: rgb(0, 195, 255);
	font-family: "Courier New", Courier, monospace;
	vertical-align: baseline; /* for IE7 */
	}
        /*encabezado calendario Ej:lunes,martes*/
.fc th {
    padding: 0;
    vertical-align: top;
   color:rgb(0, 76, 255)
}
/*Mes del calendario:Ej Abril de 2022 */
html .fc{
	font-size: 1em;
	color:linear-gradient(270deg, #0941da, #04a4f4);

}

/*numeros de dias del calendario */
.fc table {
	font-size: 1em;
	color:rgb(0, 68, 255);
	}

@keyframes steam {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}