<html lang='es'>

<head>
  <meta charset='utf-8' />
  <!-- Inicio de imports -->
  {%include 'imports.html'%}
  {% block content %}
  {%endblock%}

  <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css' rel='stylesheet' />
  <link href="static/css/fullcalendar.css" rel="stylesheet" type="text/css">
  <link href="static/css/original.css" rel="stylesheet" type="text/css" id = "theme">
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
  <script src='static/JS/calendar.js'></script>
  <script src='static/JS/themeSelector.js'></script>
  <!-- Fin de imports -->
  
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
    
    function confirmar(startTime, endTime, startDate, endDate) {
      
      return Swal.fire({
        title: '¿Está seguro?',
        text: "Podrás volver a editar los cambios si es necesario",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Confirmar',
        cancelButtonText: 'Cancelar',
      }).then((result) => {
        if (result.isConfirmed) {
          return true
        } else {
          return false
        }
      })
    }
    
    async function validar(startTime, endTime, startDate, endDate, formName) {
      event.preventDefault()
      var confirmado = await Promise.resolve(confirmar(startTime, endTime, startDate, endDate))
      if (confirmado) {
        start = document.getElementById(startDate).value + " " + document.getElementById(startTime).value
        end = document.getElementById(endDate).value + " " + document.getElementById(endTime).value
        if (new Date(start) > new Date(end)) {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Revise las fechas y horarios',
          })
          return false
        } else {
          form = document.forms[formName];
          form.submit()
        }
      } else {
        return false
      }
    }
    </script>

</head>

<body>

    <select class="" name="temas" id="selector">
      <option value="original">Original</option>
      <option value="gris">Gris</option>
      <option value="xp">Xp</option>
      <option value = "espacio">Espacio</option>
      <option value = "azul">Azul</option>
    </select>

    <a href="{{ url_for('index') }}">
      <button>Salir</button>
    </a>




  <div class="container">
    <div id='calendar' class="block calendar">
    </div>
  </div>


  <!-- Inicio del modal add-->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo evento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Inicio del formulario add-->
          <form method="post" name="addForm" id="addForm"
            onsubmit="validar('startTime', 'endTime', 'startDate', 'endDate', 'addForm');">
            <div class="md-form md-outline input-with-post-icon">

              <input type="hidden" name="action" id="action" value = "add">
              <label for="title">Título</label>
              <input placeholder="Título del evento" type="text" name="title" id="title" class="form-control" required>

              <input type="hidden" name="startDate" id="startDate"></a>

              <label for="endDate">Día de fin</label>
              <input placeholder="Día de fin" type="date" id="endDate" name="endDate" class="form-control" required>

              <label for="startTime">Hora de inicio</label>
              <input placeholder="Select start" type="time" id="startTime" name="startTime" class="form-control"
                required>

              <label for="endTime">Hora de fin</label>
              <input placeholder="Select end" type="time" id="endTime" name="endTime" class="form-control" required>

              <label for="endTime">Fondo del evento</label>
              <input type="color" name="eventColor" id="eventColor" class="form-control" required>

            </div>
        </div>
        <div class="modal-footer">

          <button name="btn" id="btn" value="add" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" name="btnClose" id="btnClose"
            data-dismiss="modal">Close</button>
        </div>
        </form>
        <!-- Fin del formulario add-->
      </div>
    </div>
  </div>
  <!-- Fin del modal add-->



  <!-- Inicio del modal change-->
  <div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo evento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Inicio del formulario change-->
          <form method="post" name="changeForm" id="changeForm"
            onsubmit="validar('changeStartTime', 'changeEndTime', 'changeStartDate', 'changeEndDate', 'changeForm');">
            <div class="md-form md-outline input-with-post-icon">
              <input type="hidden" name="action" id="changeAction" value = "2">
              <input type="hidden" name="changeID" id="changeID" value="">
              <input type="hidden" name="changeStartDate" id="changeStartDate" value="">


              <label for="changeTitle">Título</label>
              <input placeholder="Título del evento" type="text" name="changeTitle" id="changeTitle"
                class="form-control" required>

              <label for="changeEndDate">Día de fin</label>
              <input placeholder="Día de fin" type="date" min="" id="changeEndDate" name="changeEndDate" min=""
                class="form-control" value=required>

              <label for="changeStartTime">Hora de inicio</label>
              <input placeholder="Select start" type="time" id="changeStartTime" name="changeStartTime"
                class="form-control" required>

              <label for="changeEndTime">Hora de fin</label>
              <input placeholder="Select end" type="time" id="changeEndTime" name="changeEndTime" class="form-control"
                required>

              <label for="endTime">Fondo del evento</label>
              <input type="color" name="changeEventColor" id="changeEventColor" class="form-control" required>

            </div>
        </div>
        <div class="modal-footer">

          <button name="btn" id="btn" class="btn btn-warning" onclick="document.getElementById('changeAction').value = 'update'">Actualizar datos</button>
          <button name="btn" id="btn" class="btn btn-danger" onclick="document.getElementById('changeAction').value = 'delete'">Eliminar evento</button>
          <button type="button" class="btn btn-secondary" name="btnClose" id="btnClose"
            data-dismiss="modal">Close</button>
        </div>
        </form>
        <!-- Fin del formulario change-->
      </div>
    </div>
  </div>
  <!-- Fin del modal change-->


</body>

</html>