<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <!-- Inicio de imports -->
    {%include 'imports.html'%}
    {% block content %}
    {%endblock%}
    
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css'
      rel='stylesheet' />
    <link href="static/css/fullcalendar.css" rel="stylesheet" type="text/css">
    <link href="static/css/calendar.css" rel="stylesheet" type="text/css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js'></script>
    <script src= 'static/JS/calendar.js'></script>
    <!-- Fin de imports -->

    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
    </script>



  </head>
  <body>
    <div class="container">
      <div id='calendar' class="block calendar">
      </div>
    </div>


    <!-- Inicio del modal add-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo evento</h5>
            <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Inicio del formulario -->
            <form method="post" id = "modalform" onSubmit="return confirm('Añadir evento')">
              <div class="md-form md-outline input-with-post-icon">

                <input placeholder="Título del evento" type="text" name="title"
                  id="title" class="form-control" required>
                <label for="title">Título</label>

                <input type="hidden" name = "startDate" id = "startDate"></a>

                <input placeholder="Día de fin" type="date"
                  id="endDate"
                  name="endDate" class="form-control" required>
                <label for="endDate">Día de fin</label>

                <input placeholder="Select start" type="time" id="startTime"
                  name="startTime" class="form-control" required onchange="updateMin(this.value)">
                <label for="startTime">Hora de inicio</label>

                <input placeholder="Select end" type="time" id="endTime"
                  name="endTime"
                  class="form-control" required>
                <label for="endTime">Hora de fin</label>
              </div>
            </div>
            <div class="modal-footer">

              <button name = "btn" type="submit" value="add" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
            </div>
          </form>
          <!-- Fin del formulario -->
        </div>
      </div>
    </div>
    <!-- Fin del modal -->

    <!-- Inicio del modal change-->
    <div class="modal fade" id="changeModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo evento</h5>
            <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Inicio del formulario -->
            <form method="post" id = "modalform" onSubmit="return confirm('¿Confirmar cambios?')">
              <div class="md-form md-outline input-with-post-icon">
                <input type="hidden" name = "changeID" id = "changeID" value = "">
                <input type="hidden" name = "changeStartDate" id = "changeStartDate" value = "">

                <input placeholder="Título del evento" type="text" name="changeTitle"
                  id="changeTitle" class="form-control" required>
                <label for="changeTitle">Título</label>

                <input placeholder="Día de fin" type="date" min= ""
                  id="changeEndDate"
                  name="changeEndDate" min="" class="form-control" value= required>
                <label for="changeEndDate">Día de fin</label>

                <input placeholder="Select start" type="time" id="changeStartTime"
                  name="changeStartTime" class="form-control" required>
                <label for="changeStartTime">Hora de inicio</label>

                <input placeholder="Select end" type="time" id="changeEndTime"
                  name="changeEndTime"
                  class="form-control" required>
                <label for="changeEndTime">Hora de fin</label>

              </div>
            </div>
            <div class="modal-footer">

              <button id = "btn" name = "btn" value = "update" class="btn btn-warning">Actualizar datos</button>
              <button id = "btn" name = "btn" value = "delete" class="btn btn-danger">Eliminar evento</button>
              <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
            </div>
          </form>
          <!-- Fin del formulario -->
        </div>
      </div>
    </div>
    <!-- Fin del modal -->


    


  </body>

</html>