<html>
  <head>
    <title>Prueba saludo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Dime a quien saludar</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Luis" name="saludado" value="{{
          request.form.saludado }}">
        <input class="btn btn-default" type="submit" value="Saludar">
      </form>
    </div>
  </body>
</html>